<!--The content below is only a placeholder and can be replaced.-->
<div class="app-component">
    <!-- <app-header></app-header> -->
    <div class="container-fluid main-section">
        <!-- <div class="col-lg-12">
            <h1>
                Welcome to {{title}}!
            </h1>
            <hr>
        </div> -->
        <div class="row">
            <div class="col-md-3 no-pad">
                <app-sidenav></app-sidenav>
            </div>
            <div class="col-md-9 no-pad">
                <app-top-bar></app-top-bar>
                <ui-view></ui-view>
            </div>
        </div>
             
    </div>
</div>
