<nav class="sidebar">
	<div class="profile text-center">
		<div class="dp" style="background-image: url('http://www.iconsdb.com/icons/preview/gray/contacts-xxl.png')"></div>
		<div class="user-details">
			<p class="name">{{title}}</p>
			<p class="role-play">Contextually Based</p>
		</div>
	</div>
	<ul class="nav flex-column">
		<!-- <li class="nav-item">
			<a class="nav-link" href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		</li> -->
		<li class="nav-link" class="nav-item">
			<a class="nav-link" uiSref="home" uiSrefActive="active"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" uiSref="sales" uiSrefActive="active"><i class="fa fa-plus" aria-hidden="true"></i> New Shipment Request</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" uiSref="select-lot"><i class="fa fa-object-group" aria-hidden="true"></i> Select Lot</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" uiSref="find-site"><i class="fa fa-search-plus" aria-hidden="true"></i> Portal Find Site</a>
		</li>
	</ul>
</nav>
