<nav class="top-bar-nav">
	
	<div class="row ">
		<div class="col-sm-6 no-pad">
			<ul>
				<li>
					<a href="" class="badge badge-pink" data-badge="27">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="" class="badge" data-badge="5">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</a>
				</li>
				<!-- <li>
					<a href="" class="badge" data-badge="27">
						<i class="fa fa-bell-o" aria-hidden="true"></i>
					</a>
				</li> -->
			</ul>
		</div>
        <div class="col-sm-2 no-pad">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
        	<ul>
        		<li>
        			<a href="" class="badge" data-badge="21">
						<i class="fa fa-comment-o" aria-hidden="true"></i>
					</a>
        		</li>
        	</ul>
        	
        </div>
	</div>
</nav>